.container{
    border: 10px solid purple;
    border-radius: 30px;
    width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.container h1{
    text-align: center;
}

.author{
    color: cornflowerblue;
    text-transform: capitalize;
    margin-left: 60px;
    display: inline-block
}

.quote{
    font-size: 20px;
    font-weight: bold;
    color: grey;
}

.time{
    display: inline-block;
    font-size: 12px;
    color: cornflowerblue;
}

